---
// import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
import Head from "../components/Head.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
	<Head/>
</head>
<body class="h-screen bg-gradient-to-tr from-sky-500 to-indigo-500">
	
</body>
</html>
